*{
    margin: 10;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;

}
.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sedans-container
{
    width: 65%;
    height: 30vh;
    border-radius: 5% 5% 0% 0%;
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.head-line
{
    font-family:'Big Shoulders Display'; 
     font-weight: 700;
     text-transform: uppercase;
     color: #fff;
     font-size: 2rem;
    
}
.data{
     font-family: 'Lexend Deca';
     font-weight: 400;
     color: #fff;
     line-height: 1.5rem;
     
}
.main div:first-child div:last-child{
    width:40%;
    height: 30hv;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    color: hsl(31, 77%, 52%);
}
.suv-container
{
    width:  65%;
    height: 35vh;
    background-color:hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
.luxury-container
{
    width:  65%;
    height: 35vh;
    border-radius: 0% 0% 5% 5%;
    background-color:hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
.suv-container div:last-child{
    width:40%;
    height: 30hv;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    color: hsl(184, 100%, 22%);
}
.luxury-container div:last-child{
    width:40%;
    height: 30hv;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    color: hsl(179, 100%, 13%);
}

